In [ ]:
import pandas as pd
data = pd.read_csv('raw_data.csv',encoding='latin-1')
data.head(5)

   Sno  ...                                             Source
0    0  ...  http://www.rajswasthya.nic.in/?utm_campaign=fu...
1    1  ...  https://twitter.com/shemin_joy/status/12555489...
2    2  ...  https://twitter.com/narendramodi/status/125573...
3    3  ...  https://zeenews.india.com/india/politicians-mo...
4    4  ...  https://zeenews.india.com/india/delhi-police-p...

[5 rows x 8 columns]

In [ ]:
def preprocess_text(sen):
    # Removing html tags
    sentence = remove_tags(sen)

    # Remove punctuations and numbers
    sentence = re.sub('[^a-zA-Z]', ' ', sentence)

    # Single character removal
    sentence = re.sub(r"\s+[a-zA-Z]\s+", ' ', sentence)

    # Removing multiple spaces
    sentence = re.sub(r'\s+', ' ', sentence)

    return sentence

In [ ]:
import re
TAG_RE = re.compile(r'<[^>]+>')

def remove_tags(text):
    return TAG_RE.sub('', text)

In [ ]:
from sklearn.naive_bayes import BernoulliNB
from sklearn import metrics
def predict():
  X = []
  sentences = list(data['Headline'])
  for sen in sentences:
      X.append(preprocess_text(sen))
  tf_idf=TfidfVectorizer()
  textcount=tf_idf.fit_transform(X)
  X_train, X_test, Y_train, Y_test = train_test_split(textcount,data['Sentiment'], test_size=0.25, random_state=5)
  mnb=BernoulliNB()
  mnb.fit(X_train,Y_train)
  predict=mnb.predict(X_test)
  accuracy=metrics.accuracy_score(predict,Y_test)
  print(str('{:04.2f}'.format(accuracy*100))+'%')

In [ ]:
#data.Sentiment.value_counts()

0    2742
1    1330
Name: Sentiment, dtype: int64

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

79.67%

In [ ]:
#mnb: 75.83, bnb: 79.67 , gnb:63.36 ,cnb:78